body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.status {
    margin-bottom: 10px;
}

.dice,
.held {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 10px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    cursor: pointer;
}

.dice:focus {
    outline: none;
}

.held {
    background: #bbb;
}

.kbd-navigation .dice:focus {
    background: #ddd;
}

.action {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-left: 20px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 90px;
    cursor: pointer;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
