body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
}

.score-row {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    padding: 0;
}

.dice,
.held {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 10px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    cursor: pointer;
}

.dice:focus {
    outline: none;
}

.held {
    background: #bbb;
}

.kbd-navigation .dice:focus {
    background: #ddd;
}

.action,
.inaction {
    background: #fff;
    border: 1px solid #999;
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-left: 20px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 90px;
    cursor: pointer;
}

.inaction {
    background: #ccc;
    cursor: not-allowed;
}

.game {
    display: flex;
    flex-direction: row;
}
